backup/*
auto-save-list/*
eshell/*
session.*
elpa/*
ac-comphist.dat
ido.last
.emacs.desktop*
xkcd
emacs-config.el
.emacs-config.org.swp
request/*
tramp
url/
.org-id-locations
async-bytecomp.log
_auth
network-security.data
